.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 30px;
  background-color: #181818;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #42d3ff;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #181818;
  margin-right: 20px;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 16px;
  color: #42d3ff;
  background: 
    linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0,0)),
    linear-gradient(to right, rgba(66, 211, 255, 1), rgba(66, 211, 255, 1));
  background-size: 100% 0.1em, 0% 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  color: #ffffff;
  background-size: 0% 0.1em, 100% 0.1em;
}
